#encoder>.offcanvas-header {
    background-color: black;
    color: white;

    & button {
        background-color: white;
    }
}

#encoder>.offcanvas-body {
    display: grid;
    align-items: center;
    background: url('../images/encoder/enigma.png'), content-box radial-gradient(crimson, skyblue);

    @include media-breakpoint-down(lg) {
        background: top / contain no-repeat url('../images/encoder/enigma.png'), content-box radial-gradient(crimson, skyblue);

    }

    & .encoderTyper {
        outline: thick double red;
        margin: 0 auto;
        padding: 2rem;
        background: white;
        width: 500px;
        border-radius: 3px;
        display: grid;
        overflow: hidden;

        @include media-breakpoint-down(sm) {
            width: auto;
            padding: 1rem;
        }

        & #decodeTitle {
            display: inline;
        }

        .text-area-wrapper {
            width: 90%;
            overflow: hidden;

            & textarea {
                width: 100%;
                overflow: auto;
            }

            .encoderResult {
                width: 100%;
                overflow: auto;
            }
        }
    }


}