#plane {
    --x: 0;
    --y: 0;
    --rorateY: 0;
    // --initialY: 50;
    // --initialX: 50;

    &>.offcanvas-header {
        background-color: #3f3699;
        color: white;
    }

    &>.offcanvas-body {
        background-color: black;
        height: auto;
        position: relative;

        // background: scroll url("../images/plane/espansione-dell-universo-cos-e-spostamento-rosso-v6-43688.jpg") center/contain no-repeat;
        & .universe-background {
            width: 100%;
            height: 500px;

            @include media-breakpoint-down(lg) {
                height: 230px;
            }
        }

        .wrapFaceDetectorPlaneGame>* {
            outline: thick double #c3a0a0;
            width: 200px;


            @include media-breakpoint-down(md) {
                position: absolute;
                top: 390px;
                left: 35%;
            }

            // @include media-breakpoint-up(lg) {
            //     width: 80vw;
            // }

            // @include media-breakpoint-up(xl) {
            //     width: 1030px;
            // }
        }
    }
}


#planeImg {
    position: absolute;
    vertical-align: unset;
    top: 80vh;
    left: 80vw;
    transform: translateX(var(--x)) translateY(var(--y)) rotateY(var(--rorateY));

    @include media-breakpoint-down(lg) {
        height: 70px;
        width: auto;
    }
}


video[controls] {
    width: 200px;
    // background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.planeSpeedRange {
    color: white;
    width: 400px;
    display: block;

    @include media-breakpoint-down(md) {
        width: 100%;
    }
}