#plane {
    --x: 0;
    --y: 0;
    --rotatey: 0;
    --rotate: 0;

    &>.offcanvas-header {
        background-color: #3f3699;
        color: white;
    }

    &>.offcanvas-body {
        background-color: black;
        height: 1000px;
        position: relative;

        // background: scroll url("../images/plane/espansione-dell-universo-cos-e-spostamento-rosso-v6-43688.jpg") center/contain no-repeat;
        & .universe-background {
            width: 100%;
        }

        .wrapFaceDetectorPlaneGame>* {
            position: absolute;
            outline: thick double #c3a0a0;
            width: 200px;
            top: 50%;
            left: 71%;
            // @include media-breakpoint-down(md) {
            //     width: 94vw;
            // }

            // @include media-breakpoint-up(lg) {
            //     width: 80vw;
            // }

            // @include media-breakpoint-up(xl) {
            //     width: 1030px;
            // }
        }
    }
}


.plane {
    position: absolute;
    vertical-align: unset;
    top: 0;
    left: 0;
    transform: translateX(var(--x)) translateY(var(--y));
}


video[controls] {
    width: 200px;
    // background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}