.cols-slider-wrapper {
    height: 100%;
}

.wrapper-h1-Edit-button-experience {
    position: absolute;
    top: 0;

    & h1 {
        font-family: Montserrat, 'Open Sans', Lato, 'sans-serif';
        font-size: 28px;
        background-color: rgba(217, 217, 217, 0.28);
        color: #1f1d1dae;
        font-weight: 600;
        padding: 21px 13px 13px 7px;

        // @include media-breakpoint-up(md) {
        //     font-size: 4.5vw;
        // }

    }
}

.slider-experience {
    background-color: #f7f7f7;

    // @include media-breakpoint-up(md) {
    //     background-color: transparent;
    // }

    & .slides {
        position: relative;
        height: 400px;
        overflow: hidden;

        & .slide {
            position: absolute;
            top: 0;
            z-index: 10;
            transform: translateX(-200%);
            transition: all 0.5s;

            & .left-no-flex {
                position: absolute;
                z-index: 11;
                left: 280px;
            }



            &.prev {
                transform: translateX(-100%);

            }

            &.current {
                transform: translateX(0);
            }


            &.next {
                transform: translateX(100%);

            }

            &.next+.slide {
                transform: translateX(200%);
            }

            & h2 {
                color: #5A5A5A;
                font-size: 17px;
                background-color: white;
                font-weight: 200;
                padding: 17px 0 9px 13px;

                &::first-line {
                    font-size: 19px;
                    font-weight: 500;
                }
            }

            & p {
                font: 500 19px Roboto, Montserrat, 'Open Sans', Lato, 'sans-serif';
                color: #5A5A5A;
                line-height: 1.5;

                // @include media-breakpoint-only(md) {
                //     font-size: 14px;
                // }

                // @include media-breakpoint-up(lg) {
                //     font-size: 1.5vw;
                // }
            }
        }
    }

    & .slider-buttons>button {
        font-family: 'Material Symbols Outlined';
        color: #777777;
        font-size: 24px;
        background-color: transparent;
        outline: none;
        border: transparent;

        &:hover {
            border: 1px solid rgb(5, 5, 5);

        }

        &.open1 {
            border: 1px solid rgb(5, 5, 5);
            background-color: #777777;
            color: black
        }
    }

}