// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

/*
// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

@import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar"; // Requires nav
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal"; // Requires transitions
// @import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas"; // Requires transitions
// @import "~bootstrap/scss/placeholders";

// Helpers
// @import "helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";


//
// Custom styles
//

@import "icon-list";
*/

@import './style-home.scss';
@import './style-experience.scss';

//-----------------START-HEADER----------------------------

header {
  background-color: black;
  color: white;
  height: 88px;

  @include media-breakpoint-up(lg) {
    background-color: #393838;
  }
}

#section-socials>img {
  width: 35px;
  height: 35px;
}

#menu-Hamb {
  font-family: 'Material Icons';
  color: #b3b3b3;
  font-size: 20px;
  background-color: transparent;
  outline: none;
  border: transparent;
}

#section>button {
  font-family: Montserrat, 'Open Sans', Lato, 'sans-serif';
  font-size: 20px;
  color: #b3b3b3
}

//-----------------END-HEADER----------------------------
//-----------------START-MAIN----------------------------

.main-section {
  position: relative;

  &>img {
    width: 100%;
  }

}

.slider {
  background-color: rgba(0, 0, 0, 0.66);
  position: relative;

  @include media-breakpoint-up(md) {
    background-color: transparent;
  }

  &>p {
    font: 500 16px Montserrat, 'Open Sans', Lato, 'sans-serif';
    color: white;
    letter-spacing: 0.2rem;

    @include media-breakpoint-only(md) {
      font-size: 14px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 1.5vw;
    }
  }

  & .slider-buttons>button {
    font-family: 'Material Symbols Outlined';
    color: white;
    font-size: 24px;
    background-color: transparent;
    outline: none;
    border: transparent;

  }
}

//-----------------END-MAIN----------------------------
//-----------------START-FOOTER----------------------------

footer {
  background-color: black;
  height: 350px;
  font: 500 22px Montserrat, 'Open Sans', Lato, 'sans-serif';
  color: white;

  @include media-breakpoint-up(lg) {
    background-color: #393838;
  }

  & a {
    text-decoration: none;
    font: 500 22px Montserrat, 'Open Sans', Lato, 'sans-serif';
    color: white;
    line-height: 1.5;
    display: block;
    transition: font-size 0.2s ease-in-out;


    &:hover {
      color: white;
      font-size: 24px;
      width: 250px;
      border-bottom: 4px solid #5a5a5a;
      transition: font-size 0.2s ease-in-out;
    }
  }
}

//-----------------END-FOOTER----------------------------

//-----------------EDIT-BUTTONS--------------------------
.edit-button {
  height: 50px;
  width: 50px;
  color: #FA1C1C;
  border: 1px solid #FA1C1C;
  font-size: 34px;
  background-color: #393838;
}

#edit-bkg-img {
  top: -30px;
  left: 5px;
  position: absolute;
  z-index: 11;
}

// #edit-h1 {
//   top: 5px;
//   left: 85%;
// }

.edit-p {
  position: absolute;
  z-index: 11;
  top: -50px;
  left: 85%;
}