// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

/*
// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

@import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar"; // Requires nav
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal"; // Requires transitions
// @import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas"; // Requires transitions
// @import "~bootstrap/scss/placeholders";

// Helpers
// @import "helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";


//
// Custom styles
//

@import "icon-list";

body {
  padding: 1.5rem;
}
*/
/*colors>
header>black; header links #b3b3b3; font: 14px, sans-serif;
*/
header {
  background-color: black;
  color: white;
  height: 88px;
}

// a {
//   color: #b3b3b3;
//   font: 14px, sans-serif;
// }

// h1 {
//   color: white;
//   font: 36px, Montserrat, sans-serif;
// }

#section-socials>img {
  width: 35px;
  height: 35px;
}

#menuHamb {
  font-family: 'Material Icons';
  color: #b3b3b3;
  font-size: 20px;
  background-color: transparent;
  outline: none;
  border: transparent;
}

#section>button {
  font-family: Montserrat, 'Open Sans', Lato, 'sans-serif';
  font-size: 20px;
  color: #b3b3b3
}

#about-section {
  position: relative;


  &>img {
    width: 100%;
  }
}

#h1-plus-slide {
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;

  &>h1 {
    font-family: Montserrat, 'Open Sans', Lato, 'sans-serif';
    font-size: 9vw;
    color: white;
  }
}

#slide {
  background-color: rgba(0, 0, 0, 0.66);

  &>p {
    font: 500 16px Montserrat, 'Open Sans', Lato, 'sans-serif';
    color: white;
    letter-spacing: 0.2rem;
  }

  & button {
    font-family: 'Material Symbols Outlined';
    color: white;
    font-size: 24px;
    background-color: transparent;
    outline: none;
    border: transparent;
  }
}

footer {
  background-color: black;
  height: 350px;
  font: 500 22px Montserrat, 'Open Sans', Lato, 'sans-serif';
  color: white;

  & a {
    text-decoration: none;
    font: 500 22px Montserrat, 'Open Sans', Lato, 'sans-serif';
    color: white;
    line-height: 1.5;
    display: block;
    transition: all 0.2s;

    &:hover {
      color: #b3b3b3;
      font-size: 23px;
      border: 0.5px solid #b3b3b3;
      border-radius: 2px;
    }
  }
}